<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >

<head>
	<meta http-equiv="Content_Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link type="text/css"  rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
	<link type="text/css"  rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
	<link type="text/css"  rel="stylesheet" th:href="@{/css/css-all.css}" />
	<link type="image/png" rel="icon" 	    th:href="@{/img/icon.ico}" />
	<title>Redefinição de Senha - 3E Gestão de Pessoas</title>
</head>

<body>
<div class="container marg col-md-8">
<div th:include="@{componente/mensagem.html}"></div>
<div class="card mb-3">
<div class="card-header fundo"><h5><b class="text-white">Redefinição de senha</b></h5></div>
<div class="text-center card-header card-header-none"><a th:href="@{/}"><img title="3E" alt="3E" th:src="@{/img/logo.png}" /></a></div>
  <div class="card-body">
  <p class="card-text">Informe seu email <b>cadastrado</b> para prosseguir com a solicitação de redefinição de sua senha.</p>
				<form id="form_email_senha" name="form_email_senha"
					th:action="@{/senha/email}" method="POST">
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="email" class="label-input">Email<span class="text-danger" data-toggle="tooltip" data-placement="bottom" title="Campo obrigatório">*</span></label> <input id="email" type="email"
								class="form-control" name="email" placeholder="Informe seu email">
						</div>
					</div>
					<button  type="submit" class="btn btn-primary form-group col-md-2">
						<i class="fas fa-paper-plane"></i> Solicitar
					</button>
					<a style="text-decoration: none;" th:href="@{/publico/login}" class="font-weight-bold btn btn-success form-group col-md-2" ><i class="fas fa-lock"></i> Login</a>
					<a style="text-decoration: none;" th:href="@{/}" class="font-weight-bold btn btn-info form-group col-md-2" ><i class="fas fa-home"></i> Início</a>
				</form>
			</div>
<div class="card-header fundo text-center" th:include="@{componente/rodape.html}"></div>
</div>
</div>
	<script type="text/javascript" th:src="@{/jquery/jquery.min.js}" ></script>
	<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>	
	<script type="text/javascript" th:src="@{/validation/jquery.validate.min.js}" ></script>
	<script type="text/javascript" th:src="@{/validation/additional-methods.min.js}"></script>
	<script type="text/javascript" th:src="@{/validation/messages_pt_BR.js}"></script>	
    <script type="text/javascript" th:src="@{/js/validation.public.js}"></script>
    <script type="text/javascript" th:src="@{/js/js-all.js}"></script>

</body>
</html>