<html lang="pt-br">

<head>
<meta http-equiv="Content_Type" content="text/html; charset=UTF-8">
</head>

<footer class="fundo marg-footer fixar-rodape">
	<div class="list-group">
		<div class="list-group-item fundo text-center">
			<p class="mb-1 text-white">3E Gestão de Pessoas, Copyright © 2020
				Todos os Direitos Reservados.
			</p>
		</div>
	<span style="color:#1e94d2;font-size: 2px;padding: 0;margin: 0;">Desenvolvido por: Tiago Garcia Ferreira</span>	
	</div>
</footer>
</html>