<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="@{admin/LayoutPrivate.html}">

<head>
	<title>Pesquisa de Noticias - 3E Gestão de Pessoas</title>
</head>

<section layout:fragment="conteudo">
<div class="container marg">
<div th:include="@{componente/mensagem.html}"></div>
<div class="card mb-3">
<div class="card-header fundo"><h5><b class="text-white">Pesquisa de notícias</b></h5></div>
<div class="card-body">
 
<div sec:authorize="hasAnyAuthority({'ROLE_NOTICIA_LISTAR'})">

	<form id="form_busca_noticia" name="form_busca_noticia"
			th:action="@{/noticia/pesquisar}" method="GET" class="marg">
						
			<div class="form-row">
				<div class="input-group mb-3 col-md-6">
				  <input id="buscar_por" autocapitalize="none" type="text" class="form-control" name="buscar_por" th:value="${buscar_por}" placeholder="Busca por Titulo">
				  <div class="input-group-append">
				    <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
				  </div>
				</div>
				<div class="form-group col-md-6">
					<a th:href="@{/noticia/cadastrar}" class="btn btn-primary"><i class="fas fa-plus-circle"></i> <b>Nova</b></a>
			   </div>
			</div>
	</form>

		 	<div class="table-responsive">
		 	<table class="table table-bordered table-hover text-center table-sm">
			<thead  class="table-sm">
	            <tr>
	                <th>Categoria </th>
	                <th>Titulo </th>
	                <th>Status</th>
	                <th>Data/Cadastro</th>
	                <th>Ações</th>
	            </tr>
	        </thead>
	        <tbody>
	        	<tr th:if="${not #lists.isEmpty(noticias_lista.content)}" th:each="noticia: ${noticias_lista.content}">
	        		<td class="align-middle" th:text="${noticia.categoria.nome}"></td>
	        		<td class="align-middle" th:text="${noticia.titulo}"></td>
	        		<td class="align-middle" sec:authorize="hasAnyAuthority({'ROLE_NOTICIA_LIBERAR'})" th:if="${noticia.disponibilidade == true}" ><a data-toggle="tooltip" data-placement="bottom" title="Desativar" style="font-size: 20px;" th:href="@{/noticia/status/{idnoticia}(idnoticia=${noticia.idNoticia},token=${noticia.token})}"> <i class="fas fa-toggle-on text-success"></i></a> </td> 
	        		<td class="align-middle" sec:authorize="hasAnyAuthority({'ROLE_NOTICIA_LIBERAR'})" th:if="${noticia.disponibilidade == false}"><a data-toggle="tooltip" data-placement="bottom" title="Ativar" style="font-size: 20px;" th:href="@{/noticia/status/{idnoticia}(idnoticia=${noticia.idNoticia},token=${noticia.token})}"> <i class="fas fa-toggle-off text-danger"></i></a> </td>
	        		<td class="align-middle" th:text="${#temporals.format(noticia.dataCadastro, 'dd-MM-yyyy')}"></td>
	        		<td class="align-middle" th:with="contexto=${#httpServletRequest.getContextPath()+'/noticia/remover/codigoid'}"> 
	                   <a sec:authorize="hasAnyAuthority({'ROLE_NOTICIA_EDITAR'})" data-toggle="tooltip" data-placement="bottom" title="Editar" class="fonte18" th:href="@{/noticia/editar/{idnoticia}(idnoticia=${noticia.idNoticia},token=${noticia.token})}"> <i class="far fa-edit text-primary"></i></a> 
	                   <a sec:authorize="hasAnyAuthority({'ROLE_NOTICIA_DELETAR'})" th:id="${noticia.idNoticia+'?token='+noticia.token}" class="fonte18"  href="#!"  data-toggle="modal" data-target="#modal1remover" th:onclick="setId(this,[[${contexto}]]);" ><i class="fas fa-trash-alt text-danger" data-toggle="tooltip" data-placement="bottom" title="Excluir"></i></a>
	        		</td>
	        	</tr>
	        	
	        	<tr th:if="${#lists.isEmpty(noticias_lista.content)}" class="text-danger" title="Nenhum resultado encontrado">
	        	 	<td class="text-center"><b>- - -</b></td> 
	        	 	<td class="text-center"><b>- - -</b></td> 
	        	 	<td class="text-center"><b>- - -</b></td> 
	        	 	<td class="text-center"><b>- - -</b></td> 
	        	 	<td class="text-center"><b>- - -</b></td> 
	        	 </tr>	 
	        	
	        </tbody>
	        
	        <tfoot class="table-sm" th:if="${not #lists.isEmpty(noticias_lista.content)}">
	            <tr>
               	    <th>Categoria </th>
	                <th>Titulo </th>
	                <th>Status</th>
	                <th>Data/Cadastro</th>
	                <th>Ações</th>
	            </tr>
	        </tfoot>
	    </table>
	   <div class="text-center">
		    <b th:if="${#lists.isEmpty(noticias_lista.content)}" class="text-danger">Nenhum resultado encontrado</b>
	    </div> 
	    
	    </div>
	    
	    <nav th:if="${not #lists.isEmpty(noticias_lista.content)}">
	  <ul class="pagination justify-content-center">
	    <li th:if="${noticias_lista.hasPrevious()}" class="page-item">
	      <a class="page-link" th:href="@{/noticia/pesquisar(page=${noticias_lista.number-1}, size=${noticias_lista.size}, buscar_por=${buscar_por})}"><span aria-hidden="true">&laquo;</span></a>
	    </li>
	    <th:block th:each="number: ${#numbers.sequence(0,noticias_lista.totalPages-1)}">
			<li class="page-item"><a class="page-link font-weight-bold fundo text-dark" th:if="${param.page == null && number == 0}" th:href="@{/noticia/pesquisar(page=${number}, size=${noticias_lista.size}, buscar_por=${buscar_por})}" th:text="${number+1}"></a></li>
			<li class="page-item"><a class="page-link font-weight-bold text-dark" th:if="${param.page == null && number != 0}" th:href="@{/noticia/pesquisar(page=${number}, size=${noticias_lista.size}, buscar_por=${buscar_por})}" th:text="${number+1}"></a></li>
			<li class="page-item"><a class="page-link font-weight-bold fundo text-dark" th:if="${param.page != null && #strings.equals(param.page, #strings.toString(number))}" th:href="@{/noticia/pesquisar(page=${number}, size=${noticias_lista.size}, buscar_por=${buscar_por})}" th:text="${number+1}"></a></li>
			<li class="page-item"><a class="page-link font-weight-bold text-dark" th:if="${param.page != null && not #strings.equals(param.page, #strings.toString(number))}" th:href="@{/noticia/pesquisar(page=${number}, size=${noticias_lista.size}, buscar_por=${buscar_por})}" th:text="${number+1}"></a></li>
	    </th:block>
	    <li th:if="${noticias_lista.hasNext()}" class="page-item">
	      <a class="page-link" th:href="@{/noticia/pesquisar(page=${noticias_lista.number+1}, size=${noticias_lista.size}, buscar_por=${buscar_por})}"><span aria-hidden="true">&raquo;</span></a>
	    </li>
	  </ul>
	</nav> 

</div>
	
</div>
</div>
</div>
	<div th:include="@{admin/modal-remove.html}"></div>
</section>
</html>