<html lang="pt-br" >

<head>
	<meta http-equiv="Content_Type" content="text/html; charset=UTF-8">
</head>

<footer class="fundo">
<div class="list-group">
  <div class="list-group-item fundo text-right" title="Voltar ao topo da página">
		<a href="#" class="nav-link text-white"><i class="fas fa-level-up-alt"></i> Voltar ao topo</a>  
  </div>

  <div class="list-group-item fundo">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1 text-white" >Redes Sociais</h5>
    </div>
    <ul class="navbar-nav" title="Ir para página 3E">
		<li class="nav-item"><a class="nav-link text-white" target="_blank" href="https://pt-br.facebook.com/gestao.3e/"><i class="fab fa-facebook tam-icone"></i> Facebook</a></li>
	</ul>
  </div>
  
  <div class="list-group-item fundo">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1 text-white">Contatos</h5>
    </div>
 	<ul class="navbar-nav ">
		<li class="nav-item"><a class="nav-link text-white" ><i class="fas fa-envelope-square tam-icone"></i> Email: gestao@3e.srv.br</a></li>
		<li class="nav-item"><a class="nav-link text-white" ><i class="fas fa-phone tam-icone"></i> Telefone: (55) 3251-0300</a></li>
		<li class="nav-item"><a class="nav-link text-white" ><i class="fab fa-whatsapp tam-icone"></i> WhatsApp: (55) 9 8112-6044</a></li>
		<li class="nav-item"><a class="nav-link text-white" ><i class="fas fa-map-marker-alt  tam-icone"></i> Endereço: Av. Júlio de Castilho, 527 - Sala 1 - Centro, Santiago - RS - 97700-000</a></li> 	
	</ul>
	<iframe src="https://www.google.com/maps/embed?pb=!4v1579979355156!6m8!1m7!1sK_txB9PeQ5iFy8wgO_lMdw!2m2!1d-29.19364460865535!2d-54.86991934598984!3f257.44434!4f0!5f0.7820865974627469"  height="200" style="border:0; border-radius: 3px;"></iframe>
  </div>
 
  <div class="list-group-item fundo text-center">
    <p class="mb-1 text-white">3E Gestão de Pessoas, Copyright © 2020 Todos os Direitos Reservados.</p>
  </div>
  <span style="color:#1e94d2;font-size: 2px;padding: 0;margin: 0;">Desenvolvido por: Tiago Garcia Ferreira</span>	
 </div>
  
</footer>
</html>